*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(2, minmax(min-content, 60rem)) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: 100vh min-content;
}
.container ::selection {
  color: rgb(255, 255, 255);
  background: rgb(133, 188, 69);
}

.header {
  grid-column: full-start/full-end;
  position: relative;
  padding: 5rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-template-rows: min-content 1fr minmax(6rem, min-content) 1fr;
}
.header .header__logo {
  width: 220px;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -3rem;
  margin-top: -5.5rem;
  grid-column: 1/span 1;
  justify-self: flex-start;
}
.header .video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -2;
}
.header .bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(202, 254, 141);
  background: linear-gradient(145deg, rgba(202, 254, 141, 0.4) 0%, rgba(133, 188, 69, 0.35) 75%);
  width: 100%;
  height: 100vh;
}
.header__heading-main {
  font-size: 10rem;
  grid-column: 1/-1;
  justify-self: center;
  align-self: flex-end;
  margin-bottom: -3rem;
}
.header__heading-secondary {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  grid-column: 1/-1;
  justify-self: center;
  align-self: flex-start;
  margin-top: 1.5rem;
  margin-left: 2rem;
}
.header__btn {
  grid-column: 1/-1;
  justify-self: center;
  align-self: flex-start;
}

.header__nav {
  grid-column: 2/span 1;
  justify-self: flex-end;
  align-items: center;
}
.header__nav-items {
  display: flex;
  list-style: none;
}
.header__nav-links {
  margin-left: 4rem;
}
.header__nav-link:link, .header__nav-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
  transition: all 0.3s;
}
.header__nav-link:link:hover, .header__nav-link:visited:hover {
  color: rgb(150, 212, 78);
}
.header__nav .active {
  color: rgb(150, 212, 78);
}

.about {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  row-gap: 2rem;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}
.about__title {
  font-size: 5rem;
  grid-column: 1/-1;
  justify-self: center;
}
.about__image {
  grid-column: 2/3;
  grid-row: 2/4;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.about__info {
  padding: 0 5rem;
}
.about__info__icon {
  width: 4.5rem;
  height: 4.5rem;
}
.about__info__main-heading {
  font-size: 1.8rem;
}
.about__info__main-text {
  font-size: 1.5rem;
}

.heading-1 {
  font-family: "Pacifico", cursive;
  color: rgb(40, 40, 40);
  z-index: 1;
}
.heading-1--white {
  color: rgb(255, 255, 255);
}

.heading-2 {
  font-family: "Oswald", sans-serif;
  color: rgb(40, 40, 40);
}
.heading-2--light {
  font-weight: 300;
}
.heading-2--medium {
  font-weight: 400;
}
.heading-2--bold {
  font-weight: 600;
}
.heading-2--white {
  color: rgb(255, 255, 255);
}

.body-text {
  font-family: "Roboto", sans-serif;
  color: rgb(40, 40, 40);
}
.body-text--light {
  font-weight: 300;
}
.body-text--medium {
  font-weight: 500;
}
.body-text--bold {
  font-weight: 700;
}
.body-text--white {
  color: rgb(255, 255, 255);
}

.btn {
  height: 4rem;
  width: 20rem;
  border-radius: 20rem;
  border: none;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 0.5rem 1rem rgba(40, 40, 40, 0.3);
  transition: all 0.2s;
  margin-top: 1rem;
}
.btn-green {
  background-color: rgb(133, 188, 69);
  color: rgb(255, 255, 255);
}
.btn:hover {
  cursor: pointer;
  transform: translateY(-0.3rem);
  background: rgb(68, 189, 50);
}

.u-mb-small {
  margin-bottom: 1.5rem;
}

.u-mb-med {
  margin-bottom: 4rem;
}

.u-mb-big {
  margin-bottom: 8rem;
}

.u-center-text {
  text-align: center;
}