// section headings
.heading-1 {
  font-family: $font-heading;
  color: $font-color;

  &--white {
    color: $body-color;
  }
}

// sub-heading
.heading-2 {
  font-family: $font-primary;
  color: $font-color;

  &--light {
    font-weight: 300;
  }

  &--medium {
    font-weight: 400;
  }

  &--bold {
    font-weight: 600;
  }

  &--white {
    color: $body-color;
  }
}

// body text
.body-text {
  font-family: $font-body;
  color: $font-color;

  &--light {
    font-weight: 300;
  }

  &--medium {
    font-weight: 500;
  }

  &--bold {
    font-weight: 700;
  }

  &--white {
    color: $body-color;
  }
}
