// fonts
$font-heading: "Pacifico", cursive; //400
$font-primary: "Oswald", sans-serif; // 300, 400, 600
$font-body: "Roboto", sans-serif; // 300, 400, 500, 700

// theme colors
$primary-green: rgba(133, 188, 69, 1);
$secondary-green: rgba(68, 189, 50, 1);
$body-color: rgba(255, 255, 255, 1);
$font-color: rgba(40, 40, 40, 1);

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;
