// fonts
$font-heading: "Pacifico", cursive; //400
$font-primary: "Oswald", sans-serif; // 300, 400, 600
$font-body: "Roboto", sans-serif; // 300, 400, 500, 700

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;
